<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <title>OAuth2 Test UI</title>
   <link rel="stylesheet" href="proxy/ui-resources/bootstrap.min.css" type="text/css"/>
   <style>
      body {
         padding-top: 75px;
      }
   </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OAuth2 Test UI</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
      </ul>
   </div>
</nav>

<div class="container" id="auth-test-ui-app">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1>OAuth2 Home Page Before Authentication</h1>
      </div>
   </div>
   <hr/>

</div>
<script src="proxy/ui-resources/jquery.min.js"></script>
<script src="proxy/ui-resources/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
